<app-account-layout>
  <div class="widgets-container">
    <div class="widgets-left">
      <div class="widget-container">
        <div class="widget-list-body">
          <div class="widget-list-body-head">
            <div class="widget-list-row-users">
              <div>Users</div>
            </div>
          </div>
          <div class="widget-list-body-items">
            <div class="widget-list-row-users">
              <div>
                <img [src]="'user.png'" alt="User Image">
                <div>
                  <h3>Ruslan Sirbu</h3>
                  <h4>info[at]example.com</h4>
                </div>
              </div>
              <div>24-12-2025</div>
            </div>
            <div class="widget-list-row-users">
              <div>
                <img [src]="'user.png'" alt="User Image">
                <div>
                  <h3>Ruslan Sirbu</h3>
                  <h4>info[at]example.com</h4>
                </div>
              </div>
              <div>24-12-2025</div>
            </div>
            <div class="widget-list-row-users">
              <div>
                <img [src]="'user.png'" alt="User Image">
                <div>
                  <h3>Ruslan Sirbu</h3>
                  <h4>info[at]example.com</h4>
                </div>
              </div>
              <div>24-12-2025</div>
            </div>
            <div class="widget-list-row-users">
              <div>
                <img [src]="'user.png'" alt="User Image">
                <div>
                  <h3>Ruslan Sirbu</h3>
                  <h4>info[at]example.com</h4>
                </div>
              </div>
              <div>24-12-2025</div>
            </div>
            <div class="widget-list-row-users">
              <div>
                <img [src]="'user.png'" alt="User Image">
                <div>
                  <h3>Ruslan Sirbu</h3>
                  <h4>info[at]example.com</h4>
                </div>
              </div>
              <div>24-12-2025</div>
            </div>
            <div class="widget-list-row-users">
              <div>
                <img [src]="'user.png'" alt="User Image">
                <div>
                  <h3>Ruslan Sirbu</h3>
                  <h4>info[at]example.com</h4>
                </div>
              </div>
              <div>24-12-2025</div>
            </div>
            <div class="widget-list-row-users">
              <div>
                <img [src]="'user.png'" alt="User Image">
                <div>
                  <h3>Ruslan Sirbu</h3>
                  <h4>info[at]example.com</h4>
                </div>
              </div>
              <div>24-12-2025</div>
            </div>
            <div class="widget-list-row-users">
              <div>
                <img [src]="'user.png'" alt="User Image">
                <div>
                  <h3>Ruslan Sirbu</h3>
                  <h4>info[at]example.com</h4>
                </div>
              </div>
              <div>24-12-2025</div>
            </div>
            <div class="widget-list-row-users">
              <div>
                <img [src]="'user.png'" alt="User Image">
                <div>
                  <h3>Ruslan Sirbu</h3>
                  <h4>info[at]example.com</h4>
                </div>
              </div>
              <div>24-12-2025</div>
            </div>
            <div class="widget-list-row-users">
              <div>
                <img [src]="'user.png'" alt="User Image">
                <div>
                  <h3>Ruslan Sirbu</h3>
                  <h4>info[at]example.com</h4>
                </div>
              </div>
              <div>24-12-2025</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="widgets-right">
      <div class="widget-container">
        <div class="widget-transactions-body">
          <div class="widget-transactions-body-head">
            <div class="widget-transactions-row">
              <div>Transactions</div>
            </div>
          </div>
          <div class="widget-transactions-body-items">
            <div class="widget-transactions-row">
              <div>
                <div>
                  <h3>
                    <a href="#">
                      847848484
                    </a>
                  </h3>
                  <span class="widget-transaction-success">completed</span>
                </div>
              </div>
              <div>24-12-2025</div>
            </div>
            <div class="widget-transactions-row">
              <div>
                <div>
                  <h3>
                    <a href="#">
                      847848484
                    </a>
                  </h3>
                  <span class="widget-transaction-failed">failed</span>
                </div>
              </div>
              <div>24-12-2025</div>
            </div>
            <div class="widget-transactions-row">
              <div>
                <div>
                  <h3>
                    <a href="#">
                      847848484
                    </a>
                  </h3>
                  <span class="widget-transaction-incomplete">incomplete</span>
                </div>
              </div>
              <div>24-12-2025</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-account-layout>
