// GENERAL COLORS
@use './colors';

// GENERAL FONTS
@use './fonts';

// GENERAL CLASSES

.align-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.align-end {
  display: flex;
  justify-content: flex-end;
}

.align-start {
  display: flex;
  align-items: flex-start;
}

.box {
  margin: 1px;
  padding: 15px;
  border-radius: 6px;
  background-color: #FFFFFF;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.no-results {
  margin: 15px !important;
  padding: 12px 15px !important;
  width: 100% !important;
  font-family: fonts.$font-2 !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  background-color: rgba($color: colors.$color-black-light, $alpha: 0.04) !important;
  color: colors.$color-black-light !important;
}
