// GENERAL BUTTONS
@use '../../shared/styles/general/buttons';

// GENERAL CLASSES
@use '../../shared/styles/general/classes';

// GENERAL COLORS
@use '../../shared/styles/general/colors';

// GENERAL FONTS
@use '../../shared/styles/general/fonts';


// ACCOUNT LIST STYLES
@use '../../shared/styles/account/list';

// MODAL STYLES
@use '../../shared/styles/account/modal';

.mat-elevation-z8 {
  overflow: hidden;
  padding: 0;
  border-radius: 6px;

  table {

    thead {

      tr {
        background-color: #fafafa !important;
      }

    }

  }

}
