<app-account-layout>
  <div class="list-container">
    <div class="list-header">
      <div class="row">
        <h3>
          {{ 'users' | translate }}
          <span>
            &#45;
          </span>
          <a href="#" (click)="$event.preventDefault();showModal(newUser)">
            {{ 'new_user' | translate }}
          </a>
        </h3>
        <div class="input-group">
          <input type="text" [placeholder]="'enter_name_email' | translate">
          <button type="button">
            <mat-icon>search</mat-icon>
            {{ 'search' | translate }}
          </button>
          <button type="button" class="blue">
            <mat-icon>exit_to_app</mat-icon>
            {{ 'export' | translate }}
          </button>
        </div>
      </div>
    </div>
    <div class="list-body">
      <div class="list-body-head">
        <div class="list-row-users">
          <div>Name</div>
          <div>Plan</div>
          <div>Joined</div>
          <div>Actions</div>
        </div>
      </div>
      <div class="list-body-items">
        <div class="list-row-users">
          <div>
            <img [src]="'user.png'" alt="User Image">
            <div>
              <h3>Ruslan Sirbu</h3>
              <h4>info[at]example.com</h4>
            </div>
          </div>
          <div>
            <a href="#">
              Free
            </a>
          </div>
          <div>24-12-2025</div>
          <div>
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>
                <mat-icon>dialpad</mat-icon>
                <span>Redial</span>
              </button>
              <button mat-menu-item disabled>
                <mat-icon>voicemail</mat-icon>
                <span>Check voice mail</span>
              </button>
              <button mat-menu-item>
                <mat-icon>notifications_off</mat-icon>
                <span>Disable alerts</span>
              </button>
            </mat-menu>
          </div>
        </div>
        <div class="list-row-users">
          <div>
            <img [src]="'user.png'" alt="User Image">
            <div>
              <h3>Ruslan Sirbu</h3>
              <h4>info[at]example.com</h4>
            </div>
          </div>
          <div>
            <a href="#">
              Free
            </a>
          </div>
          <div>24-12-2025</div>
          <div>
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>
                <mat-icon>dialpad</mat-icon>
                <span>Redial</span>
              </button>
              <button mat-menu-item disabled>
                <mat-icon>voicemail</mat-icon>
                <span>Check voice mail</span>
              </button>
              <button mat-menu-item>
                <mat-icon>notifications_off</mat-icon>
                <span>Disable alerts</span>
              </button>
            </mat-menu>
          </div>
        </div>
        <div class="list-row-users">
          <div>
            <img [src]="'user.png'" alt="User Image">
            <div>
              <h3>Ruslan Sirbu</h3>
              <h4>info[at]example.com</h4>
            </div>
          </div>
          <div>
            <a href="#">
              Free
            </a>
          </div>
          <div>24-12-2025</div>
          <div>
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>
                <mat-icon>dialpad</mat-icon>
                <span>Redial</span>
              </button>
              <button mat-menu-item disabled>
                <mat-icon>voicemail</mat-icon>
                <span>Check voice mail</span>
              </button>
              <button mat-menu-item>
                <mat-icon>notifications_off</mat-icon>
                <span>Disable alerts</span>
              </button>
            </mat-menu>
          </div>
        </div>
        <div class="list-row-users">
          <div>
            <img [src]="'user.png'" alt="User Image">
            <div>
              <h3>Ruslan Sirbu</h3>
              <h4>info[at]example.com</h4>
            </div>
          </div>
          <div>
            <a href="#">
              Free
            </a>
          </div>
          <div>24-12-2025</div>
          <div>
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>
                <mat-icon>dialpad</mat-icon>
                <span>Redial</span>
              </button>
              <button mat-menu-item disabled>
                <mat-icon>voicemail</mat-icon>
                <span>Check voice mail</span>
              </button>
              <button mat-menu-item>
                <mat-icon>notifications_off</mat-icon>
                <span>Disable alerts</span>
              </button>
            </mat-menu>
          </div>
        </div>
        <div class="list-row-users">
          <div>
            <img [src]="'user.png'" alt="User Image">
            <div>
              <h3>Ruslan Sirbu</h3>
              <h4>info[at]example.com</h4>
            </div>
          </div>
          <div>
            <a href="#">
              Free
            </a>
          </div>
          <div>24-12-2025</div>
          <div>
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>
                <mat-icon>dialpad</mat-icon>
                <span>Redial</span>
              </button>
              <button mat-menu-item disabled>
                <mat-icon>voicemail</mat-icon>
                <span>Check voice mail</span>
              </button>
              <button mat-menu-item>
                <mat-icon>notifications_off</mat-icon>
                <span>Disable alerts</span>
              </button>
            </mat-menu>
          </div>
        </div>
        <div class="list-row-users">
          <div>
            <img [src]="'user.png'" alt="User Image">
            <div>
              <h3>Ruslan Sirbu</h3>
              <h4>info[at]example.com</h4>
            </div>
          </div>
          <div>
            <a href="#">
              Free
            </a>
          </div>
          <div>24-12-2025</div>
          <div>
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>
                <mat-icon>dialpad</mat-icon>
                <span>Redial</span>
              </button>
              <button mat-menu-item disabled>
                <mat-icon>voicemail</mat-icon>
                <span>Check voice mail</span>
              </button>
              <button mat-menu-item>
                <mat-icon>notifications_off</mat-icon>
                <span>Disable alerts</span>
              </button>
            </mat-menu>
          </div>
        </div>
        <div class="list-row-users">
          <div>
            <img [src]="'user.png'" alt="User Image">
            <div>
              <h3>Ruslan Sirbu</h3>
              <h4>info[at]example.com</h4>
            </div>
          </div>
          <div>
            <a href="#">
              Free
            </a>
          </div>
          <div>24-12-2025</div>
          <div>
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>
                <mat-icon>dialpad</mat-icon>
                <span>Redial</span>
              </button>
              <button mat-menu-item disabled>
                <mat-icon>voicemail</mat-icon>
                <span>Check voice mail</span>
              </button>
              <button mat-menu-item>
                <mat-icon>notifications_off</mat-icon>
                <span>Disable alerts</span>
              </button>
            </mat-menu>
          </div>
        </div>
        <div class="list-row-users">
          <div>
            <img [src]="'user.png'" alt="User Image">
            <div>
              <h3>Ruslan Sirbu</h3>
              <h4>info[at]example.com</h4>
            </div>
          </div>
          <div>
            <a href="#">
              Free
            </a>
          </div>
          <div>24-12-2025</div>
          <div>
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>
                <mat-icon>dialpad</mat-icon>
                <span>Redial</span>
              </button>
              <button mat-menu-item disabled>
                <mat-icon>voicemail</mat-icon>
                <span>Check voice mail</span>
              </button>
              <button mat-menu-item>
                <mat-icon>notifications_off</mat-icon>
                <span>Disable alerts</span>
              </button>
            </mat-menu>
          </div>
        </div>
        <div class="list-row-users">
          <div>
            <img [src]="'user.png'" alt="User Image">
            <div>
              <h3>Ruslan Sirbu</h3>
              <h4>info[at]example.com</h4>
            </div>
          </div>
          <div>
            <a href="#">
              Free
            </a>
          </div>
          <div>24-12-2025</div>
          <div>
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>
                <mat-icon>dialpad</mat-icon>
                <span>Redial</span>
              </button>
              <button mat-menu-item disabled>
                <mat-icon>voicemail</mat-icon>
                <span>Check voice mail</span>
              </button>
              <button mat-menu-item>
                <mat-icon>notifications_off</mat-icon>
                <span>Disable alerts</span>
              </button>
            </mat-menu>
          </div>
        </div>
        <div class="list-row-users">
          <div>
            <img [src]="'user.png'" alt="User Image">
            <div>
              <h3>Ruslan Sirbu</h3>
              <h4>info[at]example.com</h4>
            </div>
          </div>
          <div>
            <a href="#">
              Free
            </a>
          </div>
          <div>24-12-2025</div>
          <div>
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>
                <mat-icon>dialpad</mat-icon>
                <span>Redial</span>
              </button>
              <button mat-menu-item disabled>
                <mat-icon>voicemail</mat-icon>
                <span>Check voice mail</span>
              </button>
              <button mat-menu-item>
                <mat-icon>notifications_off</mat-icon>
                <span>Disable alerts</span>
              </button>
            </mat-menu>
          </div>
        </div>
      </div>
    </div>
    <app-navigation [total]="1000" [page]="3" [limit]="10"></app-navigation>
  </div>
</app-account-layout>
<ng-template #newUser>
  <div class="modal-header">
    <h3>
      {{ 'new_user' | translate }}
    </h3>
    <button type="button" class="modal-hide-modal" (click)="onCloseModal()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="newUserForm" id="create-user-form" (submit)="onSubmit($event)">
      <div class="col-span-full modal-text-input">
        <input type="text"
          [placeholder]="'enter_first_name' | translate"
          name="modal-text-input-first-name"
          formControlName="firstName"
          id="modal-text-input-first-name"
          class="modal-form-input"
        />
        <label for="modal-text-input-first-name">
          <mat-icon>person</mat-icon>
        </label>
        <div class="modal-form-input-error-message"
          [ngClass]="{
            'modal-form-input-error-message-show': errors.firstName
            }">
            {{ errors.firstName }}
        </div>
      </div>
      <div class="col-span-full modal-text-input">
        <input type="text"
          [placeholder]="'enter_last_name' | translate"
          name="modal-text-input-last-name"
          formControlName="lastName"
          id="modal-text-input-last-name"
          class="modal-form-input"
        />
        <label for="modal-text-input-last-name">
          <mat-icon>person</mat-icon>
        </label>
        <div class="modal-form-input-error-message"
          [ngClass]="{
            'modal-form-input-error-message-show': errors.lastName
            }">
            {{ errors.lastName }}
        </div>
      </div>
      <div class="col-span-full modal-text-input">
        <input type="email"
          [placeholder]="'enter_email_address' | translate"
          name="modal-text-input-email"
          formControlName="email"
          id="modal-text-input-email"
          class="modal-form-input"
          autoComplete="email"
        />
        <label for="modal-text-input-email">
          <mat-icon>alternate_email</mat-icon>
        </label>
        <div class="modal-form-input-error-message"
          [ngClass]="{
            'modal-form-input-error-message-show': errors.email
            }">
            {{ errors.email }}
        </div>
      </div>
      <div class="col-span-full modal-text-input">
        <input type="password"
          [placeholder]="'enter_password' | translate"
          name="modal-text-input-password"
          formControlName="password"
          id="modal-text-input-password"
          class="modal-form-input"
          autoComplete="current-password"
        />
        <label for="modal-text-input-password">
          <mat-icon>password</mat-icon>
        </label>
        <div class="modal-form-input-error-message"
          [ngClass]="{
            'modal-form-input-error-message-show': errors.password
            }">
            {{ errors.password }}
        </div>
      </div>
      <div class="col-span-full modal-button">
        <div class="text-right">
          <button type="submit" class="mb-3 flex justify-between submit-button">
            {{ 'save_user' | translate }}
            <mat-icon *ngIf="isSubmitting" class="submitting-icon">autorenew</mat-icon>
            <mat-icon *ngIf="!isSubmitting">arrow_forward</mat-icon>
          </button>
        </div>
      </div>
    </form>
  </div>
</ng-template>
