<app-account-layout>
  <div class="list-container">
    <div class="list-header">
      <div class="row">
        <h3>
          {{ 'users' | translate }}
          <span>
            &#45;
          </span>
          <a href="#">
            {{ 'new_user' | translate }}
          </a>
        </h3>
        <div class="input-group">
          <input type="text" [placeholder]="'enter_name_email' | translate">
          <button type="button">
            <mat-icon>search</mat-icon>
            {{ 'search' | translate }}
          </button>
          <button type="button" class="blue">
            <mat-icon>exit_to_app</mat-icon>
            {{ 'export' | translate }}
          </button>
        </div>
      </div>
    </div>
    <div class="list-body">
      <div class="list-body-head">
        <div class="list-row-users">
          <div>Name</div>
          <div>Plan</div>
          <div>Joined</div>
          <div>Actions</div>
        </div>
      </div>
      <div class="list-body-items">
        <div class="list-row-users">
          <div>
            <img [src]="'user.png'" alt="User Image">
            <div>
              <h3>Ruslan Sirbu</h3>
              <h4>info[at]example.com</h4>
            </div>
          </div>
          <div>
            <a href="#">
              Free
            </a>
          </div>
          <div>24-12-2025</div>
          <div>
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>
                <mat-icon>dialpad</mat-icon>
                <span>Redial</span>
              </button>
              <button mat-menu-item disabled>
                <mat-icon>voicemail</mat-icon>
                <span>Check voice mail</span>
              </button>
              <button mat-menu-item>
                <mat-icon>notifications_off</mat-icon>
                <span>Disable alerts</span>
              </button>
            </mat-menu>
          </div>
        </div>
        <div class="list-row-users">
          <div>
            <img [src]="'user.png'" alt="User Image">
            <div>
              <h3>Ruslan Sirbu</h3>
              <h4>info[at]example.com</h4>
            </div>
          </div>
          <div>
            <a href="#">
              Free
            </a>
          </div>
          <div>24-12-2025</div>
          <div>
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>
                <mat-icon>dialpad</mat-icon>
                <span>Redial</span>
              </button>
              <button mat-menu-item disabled>
                <mat-icon>voicemail</mat-icon>
                <span>Check voice mail</span>
              </button>
              <button mat-menu-item>
                <mat-icon>notifications_off</mat-icon>
                <span>Disable alerts</span>
              </button>
            </mat-menu>
          </div>
        </div>
        <div class="list-row-users">
          <div>
            <img [src]="'user.png'" alt="User Image">
            <div>
              <h3>Ruslan Sirbu</h3>
              <h4>info[at]example.com</h4>
            </div>
          </div>
          <div>
            <a href="#">
              Free
            </a>
          </div>
          <div>24-12-2025</div>
          <div>
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>
                <mat-icon>dialpad</mat-icon>
                <span>Redial</span>
              </button>
              <button mat-menu-item disabled>
                <mat-icon>voicemail</mat-icon>
                <span>Check voice mail</span>
              </button>
              <button mat-menu-item>
                <mat-icon>notifications_off</mat-icon>
                <span>Disable alerts</span>
              </button>
            </mat-menu>
          </div>
        </div>
        <div class="list-row-users">
          <div>
            <img [src]="'user.png'" alt="User Image">
            <div>
              <h3>Ruslan Sirbu</h3>
              <h4>info[at]example.com</h4>
            </div>
          </div>
          <div>
            <a href="#">
              Free
            </a>
          </div>
          <div>24-12-2025</div>
          <div>
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>
                <mat-icon>dialpad</mat-icon>
                <span>Redial</span>
              </button>
              <button mat-menu-item disabled>
                <mat-icon>voicemail</mat-icon>
                <span>Check voice mail</span>
              </button>
              <button mat-menu-item>
                <mat-icon>notifications_off</mat-icon>
                <span>Disable alerts</span>
              </button>
            </mat-menu>
          </div>
        </div>
        <div class="list-row-users">
          <div>
            <img [src]="'user.png'" alt="User Image">
            <div>
              <h3>Ruslan Sirbu</h3>
              <h4>info[at]example.com</h4>
            </div>
          </div>
          <div>
            <a href="#">
              Free
            </a>
          </div>
          <div>24-12-2025</div>
          <div>
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>
                <mat-icon>dialpad</mat-icon>
                <span>Redial</span>
              </button>
              <button mat-menu-item disabled>
                <mat-icon>voicemail</mat-icon>
                <span>Check voice mail</span>
              </button>
              <button mat-menu-item>
                <mat-icon>notifications_off</mat-icon>
                <span>Disable alerts</span>
              </button>
            </mat-menu>
          </div>
        </div>
        <div class="list-row-users">
          <div>
            <img [src]="'user.png'" alt="User Image">
            <div>
              <h3>Ruslan Sirbu</h3>
              <h4>info[at]example.com</h4>
            </div>
          </div>
          <div>
            <a href="#">
              Free
            </a>
          </div>
          <div>24-12-2025</div>
          <div>
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>
                <mat-icon>dialpad</mat-icon>
                <span>Redial</span>
              </button>
              <button mat-menu-item disabled>
                <mat-icon>voicemail</mat-icon>
                <span>Check voice mail</span>
              </button>
              <button mat-menu-item>
                <mat-icon>notifications_off</mat-icon>
                <span>Disable alerts</span>
              </button>
            </mat-menu>
          </div>
        </div>
        <div class="list-row-users">
          <div>
            <img [src]="'user.png'" alt="User Image">
            <div>
              <h3>Ruslan Sirbu</h3>
              <h4>info[at]example.com</h4>
            </div>
          </div>
          <div>
            <a href="#">
              Free
            </a>
          </div>
          <div>24-12-2025</div>
          <div>
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>
                <mat-icon>dialpad</mat-icon>
                <span>Redial</span>
              </button>
              <button mat-menu-item disabled>
                <mat-icon>voicemail</mat-icon>
                <span>Check voice mail</span>
              </button>
              <button mat-menu-item>
                <mat-icon>notifications_off</mat-icon>
                <span>Disable alerts</span>
              </button>
            </mat-menu>
          </div>
        </div>
        <div class="list-row-users">
          <div>
            <img [src]="'user.png'" alt="User Image">
            <div>
              <h3>Ruslan Sirbu</h3>
              <h4>info[at]example.com</h4>
            </div>
          </div>
          <div>
            <a href="#">
              Free
            </a>
          </div>
          <div>24-12-2025</div>
          <div>
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>
                <mat-icon>dialpad</mat-icon>
                <span>Redial</span>
              </button>
              <button mat-menu-item disabled>
                <mat-icon>voicemail</mat-icon>
                <span>Check voice mail</span>
              </button>
              <button mat-menu-item>
                <mat-icon>notifications_off</mat-icon>
                <span>Disable alerts</span>
              </button>
            </mat-menu>
          </div>
        </div>
        <div class="list-row-users">
          <div>
            <img [src]="'user.png'" alt="User Image">
            <div>
              <h3>Ruslan Sirbu</h3>
              <h4>info[at]example.com</h4>
            </div>
          </div>
          <div>
            <a href="#">
              Free
            </a>
          </div>
          <div>24-12-2025</div>
          <div>
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>
                <mat-icon>dialpad</mat-icon>
                <span>Redial</span>
              </button>
              <button mat-menu-item disabled>
                <mat-icon>voicemail</mat-icon>
                <span>Check voice mail</span>
              </button>
              <button mat-menu-item>
                <mat-icon>notifications_off</mat-icon>
                <span>Disable alerts</span>
              </button>
            </mat-menu>
          </div>
        </div>
        <div class="list-row-users">
          <div>
            <img [src]="'user.png'" alt="User Image">
            <div>
              <h3>Ruslan Sirbu</h3>
              <h4>info[at]example.com</h4>
            </div>
          </div>
          <div>
            <a href="#">
              Free
            </a>
          </div>
          <div>24-12-2025</div>
          <div>
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>
                <mat-icon>dialpad</mat-icon>
                <span>Redial</span>
              </button>
              <button mat-menu-item disabled>
                <mat-icon>voicemail</mat-icon>
                <span>Check voice mail</span>
              </button>
              <button mat-menu-item>
                <mat-icon>notifications_off</mat-icon>
                <span>Disable alerts</span>
              </button>
            </mat-menu>
          </div>
        </div>
      </div>
    </div>
    <app-navigation [total]="1000" [page]="3" [limit]="10"></app-navigation>
  </div>
</app-account-layout>
