// GENERAL BUTTONS
@use '../../shared/styles/general/buttons';

// GENERAL CLASSES
@use '../../shared/styles/general/classes';

// GENERAL COLORS
@use '../../shared/styles/general/colors';

// GENERAL FONTS
@use '../../shared/styles/general/fonts';


// ACCOUNT LIST STYLES
@use '../../shared/styles/account/list';

// MODAL STYLES
@use '../../shared/styles/account/modal';

.mat-elevation-z8 {
  overflow: hidden;
  padding: 0;
  border-radius: 6px;

  table {

    thead {

      tr {
        background-color: #fafafa !important;
      }

    }

  }

}

// NOTIFICATION COMPONENT
.popup-notification {
  position: fixed;
  z-index: 9999;
  bottom: 20px;
  left: 50%;
  margin-left: -200px;
  padding: 9px 14px;
  width: 400px;
  min-height: 18px;
  border-radius: 6px;
  text-align: center;
  color: #ffffff;

  &.popup-notification-success {
    background-color: colors.$color-blue;
  }

  &.popup-notification-error {
    background-color: colors.$color-red;
  }

  i {
    vertical-align: middle;
    margin-right: 5px;
    font-size: 22px;
  }
}
