<app-account-layout>
  <div class="list-container">
    <div class="list-header">
      <div class="row">
        <h3>
          {{ 'users' | translate }}
          <span>
            &#45;
          </span>
          <a href="#" (click)="$event.preventDefault();showModal(newUser)">
            {{ 'new_user' | translate }}
          </a>
        </h3>
        <div class="input-group">
          <div class="search-group">
            <mat-icon>search</mat-icon>
            <input type="text" [formControl]="searchControl" [placeholder]="'enter_name_email' | translate">
          </div>
          <button type="button" class="blue" (click)="exportUsers()">
            <mat-icon>exit_to_app</mat-icon>
            {{ 'export' | translate }}
          </button>
        </div>
      </div>
    </div>
    <div class="list-body">
      <div class="list-body-head">
        <div class="list-row-users">
          <div>
            {{ 'name' | translate }}
          </div>
          <div>
            {{ 'plan' | translate }}
          </div>
          <div>
            {{ 'joined' | translate }}
          </div>
          <div>
            {{ 'actions' | translate }}
          </div>
        </div>
      </div>
      <div class="list-body-items" *ngIf="usersList && usersList.length > 0; else noResults">
        <div class="list-row-users"*ngFor="let user of usersList">
          <div>
            <img [src]="'user.png'" alt="User Image">
            <div>
              <h3>{{ (user.firstName && user.lastName)?user.firstName + ' ' + user.lastName:user.userId }}</h3>
              <h4>{{ user.email }}</h4>
            </div>
          </div>
          <div>
            <a href="#">
              Free
            </a>
          </div>
          <div>
            {{ timestamp_to_date(user.created*1000) }}
          </div>
          <div>
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Delete User">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" class="no-padding">
              <button mat-menu-item [routerLink]="['/account/users', user.userId]">
                <mat-icon>edit</mat-icon>
                <span>{{ 'edit' | translate }}</span>
              </button>
              <button mat-menu-item (click)="$event.preventDefault();deleteConfirmation(user.userId)">
                <mat-icon>delete</mat-icon>
                <span>{{ 'delete' | translate }}</span>
              </button>
            </mat-menu>
          </div>
        </div>
      </div>
    </div>
    <app-navigation [total]="users.total" [page]="users.page" [limit]="10" (navigate)="navigateTo($event)"></app-navigation>
  </div>
</app-account-layout>
<ng-template #newUser>
  <div class="modal-header">
    <h3>
      {{ 'new_user' | translate }}
    </h3>
    <button type="button" class="modal-hide-modal" (click)="onCloseModal()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="newUserForm" id="create-user-form" (submit)="onSubmit($event)">
      <div class="col-span-full modal-text-input">
        <input type="text"
          [placeholder]="'enter_first_name' | translate"
          name="modal-text-input-first-name"
          formControlName="firstName"
          id="modal-text-input-first-name"
          class="modal-form-input"
        />
        <label for="modal-text-input-first-name">
          <mat-icon>person</mat-icon>
        </label>
        <div class="modal-form-input-error-message"
          [ngClass]="{
            'modal-form-input-error-message-show': errors.firstName
            }">
            {{ errors.firstName }}
        </div>
      </div>
      <div class="col-span-full modal-text-input">
        <input type="text"
          [placeholder]="'enter_last_name' | translate"
          name="modal-text-input-last-name"
          formControlName="lastName"
          id="modal-text-input-last-name"
          class="modal-form-input"
        />
        <label for="modal-text-input-last-name">
          <mat-icon>person</mat-icon>
        </label>
        <div class="modal-form-input-error-message"
          [ngClass]="{
            'modal-form-input-error-message-show': errors.lastName
            }">
            {{ errors.lastName }}
        </div>
      </div>
      <div class="col-span-full modal-text-input">
        <input type="email"
          [placeholder]="'enter_email_address' | translate"
          name="modal-text-input-email"
          formControlName="email"
          id="modal-text-input-email"
          class="modal-form-input"
          autoComplete="email"
        />
        <label for="modal-text-input-email">
          <mat-icon>alternate_email</mat-icon>
        </label>
        <div class="modal-form-input-error-message"
          [ngClass]="{
            'modal-form-input-error-message-show': errors.email
            }">
            {{ errors.email }}
        </div>
      </div>
      <div class="col-span-full modal-text-input">
        <input type="password"
          [placeholder]="'enter_password' | translate"
          name="modal-text-input-password"
          formControlName="password"
          id="modal-text-input-password"
          class="modal-form-input"
          autoComplete="current-password"
        />
        <label for="modal-text-input-password">
          <mat-icon>password</mat-icon>
        </label>
        <div class="modal-form-input-error-message"
          [ngClass]="{
            'modal-form-input-error-message-show': errors.password
            }">
            {{ errors.password }}
        </div>
      </div>
      <div class="col-span-full modal-button">
        <div class="text-right">
          <button type="submit" class="mb-3 flex justify-between submit-button">
            {{ 'save_user' | translate }}
            <mat-icon *ngIf="isSubmitting" class="submitting-icon">autorenew</mat-icon>
            <mat-icon *ngIf="!isSubmitting">arrow_forward</mat-icon>
          </button>
        </div>
      </div>
    </form>
  </div>
</ng-template>
<ng-template #noResults>
  <div class="list-body-items">
    <div class="no-results">
      {{ 'no_users_found' | translate }}
    </div>
  </div>
</ng-template>
<ng-template #deleteUser>
  <div class="modal-header">
    <h3>
      {{ 'are_you_sure' | translate }}
    </h3>
    <button type="button" class="modal-hide-modal" (click)="onCloseModal()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="modal-body">
    <div class="col-span-full">
        <p class="modal-text">
          {{ 'deleting_user_permanent' | translate }}
        </p>
    </div>
    <div class="modal-button">
        <div class="text-right">
            <button type="button" class="option-red-btn confirmation-button" (click)="deleteUserConfirmation()">
                <mat-icon>task_alt</mat-icon>
                {{ 'confirm' | translate }}
            </button>
        </div>
    </div>
  </div>
</ng-template>
