<div class="account-container">
  <mat-sidenav-container class="account-layout-container">
    <!-- Sidebar -->
    <mat-sidenav mode="side" class="account-layout-sidenav" #sidenav [opened]="showSideNav">
      <div class="align-end">
        <button mat-raised-button color="accent" class="account-hide-sidenav" (click)="sidenav.toggle();showSideNav = !showSideNav">
          <mat-icon>arrow_back</mat-icon>
          {{ 'close' | translate }}
        </button>
      </div>
      <div class="row">
        <div class="account-sidenav-search">
          <div class="account-sidenav-search-icon">
            <mat-icon>search</mat-icon>
          </div>
          <div class="account-sidenav-search-input">
            <input type="text" [placeholder]="'search_for_something' | translate" />
          </div>
          <div class="account-sidenav-search-button">
            <button mat-raised-button color="accent" class="account-sidenav-button">
              <mat-icon>close</mat-icon>
            </button>
          </div>
        </div>
      </div>
      <div class="row">
        <mat-nav-list class="account-sidenav-menu">
          <a mat-list-item routerLink="/account/dashboard" routerLinkActive="active">
            <span class="account-sidenav-text">
              <mat-icon>home</mat-icon>
              {{ 'dashboard' | translate }}
            </span>
          </a>
          <a mat-list-item routerLink="/account/users" routerLinkActive="active">
            <span class="account-sidenav-text">
              <mat-icon>people</mat-icon>
              {{ 'users' | translate }}
            </span>
          </a>
          <a mat-list-item routerLink="/account/plans" routerLinkActive="active">
            <span class="account-sidenav-text">
              <mat-icon>manage_search</mat-icon>
              {{ 'plans' | translate }}
            </span>
          </a>
          <a mat-list-item routerLink="/account/transactions" routerLinkActive="active">
            <span class="account-sidenav-text">
              <mat-icon>price_check</mat-icon>
              {{ 'transactions' | translate }}
            </span>
          </a>
        </mat-nav-list>
      </div>
    </mat-sidenav>
    <!-- Main Content -->
    <mat-sidenav-content class="account-layout-content">
      <div class="row">
        <div class="text-box align-start">
          <button mat-raised-button color="accent" [ngClass]="{ 'button-menu': true, 'button-menu-active': showSideNav }" (click)="showHideSidebar()">
            <mat-icon>menu</mat-icon>
          </button>
          <div class="account-greeting">
            <h4>{{ 'hello' | translate }}, {{ (currentUser?.firstName && currentUser?.lastName)?currentUser?.firstName + ' ' + currentUser?.lastName:'user' | translate }}</h4>
            <p>{{ getTime() }}</p>
          </div>
        </div>
        <div class="button-box">
          <button mat-raised-button color="accent" class="button-dashboard button-color-green" (click)="logOut()">
            {{ 'sign_out' | translate }}
            <mat-icon>logout</mat-icon>
          </button>
        </div>
      </div>
      <div class="content">
        <ng-content />
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
