@use './app/shared/styles/general/colors';

body { color: colors.$color-black-light; }

/* Reset styles for form elements */
input, textarea, select, button, a {
  border: none;
  outline: none;
  font: inherit;
  background: none;
  color: inherit;
  box-sizing: border-box;
}

input, textarea, select {
  margin: 0;
  padding: 0 15px;
}

/* Reset specific states */
input:focus, textarea:focus, select:focus, button:focus, a:focus {
  outline: none;
}

a:hover {
  text-decoration: none;
}

.mat-mdc-card-content {
  padding: 0 !important;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled),
.mat-mdc-form-field-focus-overlay {
  height: 46px;
  border-radius: 4px;
  background-color: rgba($color: colors.$color-grey, $alpha: 0.7) !important;
}

.mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-floating-label {
  top: calc(var(--mat-form-field-container-height, 44px) / 2) !important;
}

.mat-mdc-form-field-infix {
  padding-top: var(--mat-form-field-filled-with-label-container-padding-top, 15px) !important;
}

.mat-mdc-form-field-hint-wrapper,
.mat-mdc-form-field-error-wrapper {
  padding: 0 2px !important;
}

.popup-notification {
  position: fixed;
  z-index: 9999;
  bottom: 20px;
  left: 50%;
  margin-left: -200px;
  padding: 9px 14px;
  width: 400px;
  min-height: 18px;
  border-radius: 6px;
  text-align: center;
  color: #ffffff;

  &.popup-notification-success {
    background-color: colors.$color-blue;
  }

  &.popup-notification-error {
    background-color: colors.$color-red;
  }

  i {
    vertical-align: middle;
    margin-right: 5px;
    font-size: 22px;
  }
}
